<div>        
    <br><br>
    <p>Largura:</p>
    <input type="number" min="1"  value="0" #widthInput/>
    <p>Altura:</p>
    <input type="number" min="1" value="0" #heightInput/>
    <p>Número de Janelas:</p>
    <input type="number" min="1" value="0" #windNumber/>
    <p>Número de Portas:</p>
    <input type="number" min="1" value="0" #doorNumber/>
    <br><br>
    <button class="btn btn-primary" (click)="allValidation()" #saveButton>Salvar Parede</button>
    <button class="btn btn-primary" (click)="finalResult()" #finalButton>Resultado Final</button>
    <button class="btn btn-primary" (click)="refreshAll($event)" #limparButton>Limpar Valores</button>
</div>
<div class="alert alert-info" role="alert">
    <h5>Área útil total de cada parede em m²</h5>
    <ul>
        <li *ngFor="let wall of walls">
        {{ wall }}
        </li>
    </ul>
    <p>
        {{ result }}
    </p>

</div>
