<div>        
    <br><br>
    <p>Largura:</p>
    <input type="number" min="1"  value="0" #widthInput/>
    <p>Altura:</p>
    <input type="number" min="1" value="0" #heightInput/>
    <p>Número de Janelas:</p>
    <input type="number" min="1" value="0" #windNumber/>
    <p>Número de Portas:</p>
    <input type="number" min="1" value="0" #doorNumber/>
    <br><br>
    <button class="btn btn-primary" (click)="allValidation()" #saveButton>Salvar Parede</button>
    <button class="btn btn-primary" #finalButton>Resultado Final</button>
    <button class="btn btn-primary" #limparButton>Limpar Valores</button>
</div>
